[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jinsu-park
[access "refs/for/refs/*"]
	read = group user/jinsu-park
	push = group user/jinsu-park
	label-Code-Review = -2..+2 group user/jinsu-park
	label-Verified = -1..+1 group user/jinsu-park
	rebase = group user/jinsu-park
	removeReviewer = group user/jinsu-park
	submit = group user/jinsu-park
[access "refs/heads/*"]
	read = group user/jinsu-park
	create = group user/jinsu-park
	push = +force group user/jinsu-park
	pushMerge = group user/jinsu-park
[access "refs/tags/*"]
	push = group user/jinsu-park
	push = +force group user/jinsu-park
